<!doctype html>
	<head>
        <title>My Blog</title>
        <meta name="description" content="I am Karran Gowda. I graduated from Cypress Bay High School and Eckerd College.I am an Eagle Scout (the highest rank for a Boy Scout). I completed my Eagle project (as well as completing other
        requirements for the other Boy Scout ranks) at my local temple... "><br>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        </head>
	<body>
        <img src="http://localhost:7077/images/cat.jpeg" alt="Smiley face" width="264" height="191">
        <img src="http://localhost:7077/images/cats.jpeg" alt="Smiley face" width="225" height="225">
    </body>
</html>
