<!doctype html>
	<head>
        <title>My Blog</title>
        <meta name="description" content="I am Karran Gowda. I graduated from Cypress Bay High School and Eckerd College.I am an Eagle Scout (the highest rank for a Boy Scout). I completed my Eagle project (as well as completing other
        requirements for the other Boy Scout ranks) at my local temple... "><br>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        </head>
	<body>
        <p>Greetings from California</p>
    </body>
</html>
